@media all and (max-width: 1200px) {
  .header-navigation {
    flex-direction: column;
    padding: 20px 10px;
  }
}

@media all and (max-width: 950px) {
  .header-navigation-menu {
    flex-direction: column;
    padding-left: 0;
  }
  .header-navigation-menu li {
    margin: 7px 0;
  }
}

@media all and (max-width: 1200px) {
  .main-certification-picture::before,
  .main-certification-picture::after {
    display: none;
  }
  .main-certification {
    flex-direction: column;
    padding: 20px 20px;
  }
  .main-certification-content {
    margin-right: 0;
  }
  .main-certification-picture {
    margin-top: 20px;
  }
}

@media all and (max-width: 1000px) {
  .main-education {
    flex-direction: column;
    padding: 20px 20px;
    margin-top: 20px;
  }
  .main-education-content {
    margin-right: 0;
  }
}
@media all and (max-width: 1120px) {
  .main-career-content-title {
    margin-top: 0;
    margin-bottom: 0;
  }
  .main-career-content-text {
    margin-top: 8px;
    margin-bottom: 5px;
    font-size: 15px;
  }
  .main-career-content {
    margin-left: 20px;
  }
}

@media all and (max-width: 1000px) {
  .main-career {
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
  }
  .main-career-content {
    margin-left: 0;
  }
  .main-carer-picture {
    order: 2;
    margin-top: 10px;
  }
  .main-career-content {
    order: 1;
  }
  .main-career-content-title {
    margin-top: 0;
    margin-bottom: 0;
  }
  .main-career-content-text {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .main-career-content-button {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
@media all and (max-width: 400px) {
  .main-carer-picture {
    width: 100%;
  }
}
@media all and (max-width: 1000px) {
  footer {
    flex-wrap: wrap;
  }
}
